body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(19, 32px); 
    grid-template-rows: repeat(19, 32px);
    gap: 4px;
    margin-bottom: 40px;
    margin-top: 40px;
    align-items: center;
    text-align: center;
}

.cell {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ccc;
}

.cell input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.filled {
    background-color: transparent;
    border: none;
}

.correct {
    background-color: #c8e6c9;
}

.incorrect {
    background-color: #ffcdd2; 
}
